.nav-menu {

    display: flex;

}

@media(max-width:768px) {

    .nav-menu {

        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .15);

    }

    .nav-menu.active {

        display: flex;

    }

    .nav-toggle,
    .menu-btn {

        display: block;
        cursor: pointer;

    }

}
